@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* General  */

:root {
    --color-main: #3064A9;
    --color-body:#516171;
    --color-azul: #092032;
    --color-celesteClaro: #ceedff;
    --color-blanco : #fff;
    --color-gris:#D8D9CF;
    --color-negro: #000;
    --color-violeta: #8D4FB0;
    --box-shadow : 0px 6px 30px rgba(0, 0,0, 0.1) ;
   

    
  }
  

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  color: var(--color-body);

}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700 !important;
    color: var(--color-azul);
}

h2 {
    margin-top: 20px;
    text-align: center;
}

a {
    color: var(--color-azul);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}

img {
    width: 100%;
}

/* TOP NAVBAR */
.top-nav {
    background-color:var(--color-main);
    padding-top: 5px  ;
    padding-bottom:5px ;
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: var(--color-blanco);
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}


@media(max-width:360px ){
    .top-nav i,
.top-nav span {
   font-size: 15px;
}
    
    
}

.social-links a {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items:center ;
    justify-content: center;
    color: var(--color-blanco);
    font-size: 20px;
    border-radius: 100%;

}

.social-links a:hover {
    background-color: var(--color-blanco);
    background-color:var(--color-main);


}

/* Bot NAV */
.navbar {
    box-shadow:var(--box-shadow) ;
  
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color:var(--color-main);
}



.active a {
    color: var(--color-main);
}



.navbar-brand img {
    padding: 0;
    margin: 0;
    max-width: 160px;
    max-height: 160px;
}


@media(max-width:768px ){
    .navbar-brand img {
      
        max-width: 100px;
        max-height: 100px;
    }

   
    
    
}

/* BTN */
.btn {
    padding: 9px 24px;
    font-weight: 500;

}

.btn-brand {
    background-color:var(--color-main);
    color: var(--color-blanco);
    border-color:var(  --color-azul) ;
}


.btn-brand:hover {
    background-color: var(--color-celesteClaro) !important;
    color: var(--color-azul) !important;
}


/* HERO */

.hero{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 90vh;
}



.hero_info {
    max-width: 1100px;
    height: 80vh;
    margin: auto;
    color:var(--color-blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero_welcome {
    font-size:30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero_title {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center; 
    color: var(--color-blanco);
}

.hero_description {
    font-size: 27px;
    text-align: center;
   
}

@media(max-width:768px  ){
    .hero {
        height:75vh;
    }
    .hero_info { 
       height: 80vh;
    }
}

@media(max-width:360px  ){
    .hero {
        height:80vh;
    }
    .hero_info { 
       height:80vh;
    }
}

/* Cursos y Trayectos */

.curso {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 0;

}



.curso-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.curso-flex h5 {
    font-size: 15px;
}

.box {
    margin-top: 10px;
    width:250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-violeta);
    border:1px solid  rgb(153, 153, 153, 0.2);
    box-shadow:;
    cursor: pointer;
    
}

.box:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1)
}

.box i {
    color: var(--color-blanco);
    font-size:30px ;
    margin-bottom: 10px;
}

.box p {
    font-size: 20px;
    color: var(--color-blanco);
}

.box h5 {
    color: var(--color-blanco);
}

@media(max-width:768px  ){
    .curso-flex {
        display: block;
    }

    .box {
        margin: 20px auto;
    }
}


@media(max-width:360px  ){
    .box {
        margin: 30px auto;
    }
}

/* Slider */
.intro h2 {
    margin-bottom: 30px;
}

#project-slider .owl-next,
#project-slider .owl-prev {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#project-slider .owl-next:hover,
#project-slider .owl-prev:hover {
        background-color: #092032;
}


.project {
    position: relative;
}



.project img {
    height: 450px;
    object-fit: cover;
}

@media(min-width:1500px ){
    .project img {
        height: 700px;
        object-fit: cover;
    }
}


.project .overlay {
    background:linear-gradient(to bottom,hsla(206, 69%, 12%, 0.0), hsla(207, 70%, 12%, 0.826) ) ;
    position: absolute;
    height: 240px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.project .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}

.project h3,
.project h6 {
    color: var(--color-blanco);
}

.project h6  {
    font-size: 20px ;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project h6::before {
    content:'';
    height: 2px;
    width: 24px;
    background-color:var(--color-main) ;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;

}

/* FOOTER */
footer {
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 20px;
    color: var(--color-blanco);
    text-align: center;
    background: linear-gradient(rgba(9,32,50,0.8),rgba(9,32,50,0.5));
}

footer .navbar-brand {
    color: var(--color-blanco);
}

footer .navbar-brand img {
    background-color: var(--color-blanco);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 20px;
}
.footer-top {
    margin-bottom: 40px;

}

.footer-bottom {
    border-top: 1px solid  #fff;
    padding-top: 20px;
    
}

footer .social-links a {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items:center ;
    justify-content: center;
    color: var(--color-blanco);
    font-size: 20px;
    border-radius: 100%;
    margin-bottom: 30px;
    margin-right: 20px;

}

footer  .social-links i {
    font-size: 40px;
}

.map {
  width: 500px;
   height: 300px;
}

@media(max-width: 768px){
   
.map {
    align-self: center;
     width: 350px;
    height: 300px;
 }
 
}

/* MODAL */

.form-control:focus {
    box-shadow: none;
    border-color: #092032;
}






.informatica p {
    font-size: 15px;
    text-align: center;
}



.curso-p  .curso-flex .box {
    width:350px;
    height: 150px;
} 

@media(max-width:768px ){
    .curso-p  .curso-flex .box {
        width: 250px;
        height: 100px;
    }  
}


/* GALERIA DE IMAGENES */


.img-gallery-title {
    position: relative;
    width: 80%;
    margin: 50px auto;
}

.img-gallery-title::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--color-negro);
    top: 50%;
    z-index: -1;
}

.img-gallery-span {
   background-color: #fff;
   padding: 0 15px;
}

.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 30px;
}


.img-gallery img {
    width: 100%;
    height: 250px;
    cursor: pointer;
    transition: all 1s;
    object-fit: cover;
}

.img-gallery img:hover {
    transform: scale(1.2) ;
}
 
.ful-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top:0 ;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
  
}

.ful-img span {
    position:absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: var(--color-blanco);
    cursor: pointer;
}

.ful-img img {
    width: 90%;
    max-width: 600px;
}

@media(max-width: 400px ){
    .img-gallery-title {
        text-decoration: underline;
    }

    .img-gallery-title::before {
        display: none;
    }

    .img-gallery-span {
        padding: 0;
    }

}

.picture_cursos {
    position: relative;

    
}




.content_title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
  

}

.content_title h6 {
    color: var(--color-blanco);
    text-transform: uppercase;

}





/* .img-gallery img {
    width: 100%;
    height: 250px;
    cursor: pointer;
    transition: all 1s;
    object-fit: cover;
}

.img-gallery img:hover {
    transform: scale(1.2) ;
}
 */




/* Go TOP  */
.go-top-container {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        z-index: -1;
}

.go-top-button {
       width: 0;
       height: 0;
       background-color:rgba(128, 128, 128, 0.64); 
       cursor: pointer;
       transition: .2s;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: -1;
}

.go-top-button i {
        position: absolute;
        font-size: 17px;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: var(--color-blanco);
        transition: .2s;
}

.show1 {
    z-index: 10;
}

.show1 .go-top-button {
    animation: popup .3s ease-in-out;
    width: 40px;
    height: 40px;
    z-index: 11;
}

.show1 i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 8px;
        height: 8px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}


/* Institucional */
.n-titulo {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 40px;
}
 .nuestra-historia {
    padding-top:20px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid #ccc;
 }

 @media(max-width:450px ){
    .nuestra-historia {
        column-count:1;
        column-rule: 0;
     }
 }

 .nuestra-historia .n-parrafo1::first-letter{
        font-size: 30px;
        font-weight: 700;
        margin-right: 2px;
 }


 .nuestra-historia span {
    font-weight: 700;
 }

 .n-span  {
    
    display: block;
    margin: 40px auto;
    max-width: 70%;
    height: 2px;
    background-color: #000;
 }

 .n-video {
   display: flex;
   justify-content: center;
 ;
 }

 .n-video video {
    width:60%;
    height:49%
 }

 @media(max-width:450px ){
    .n-video video {
        width:85%;
        height:60%
     }
 }

 /* FAQ */
 .faq__title{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 40px;
}

.faq__question {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 35px;
}

.accordion {
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 3px 8px 38px -6px rgba(0,0,0,0.75);
    width: 80%;

}


/* BUSCADOR */

#contenedor-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-buscar{
    margin-top: 20px;
    width: 50vw;
    padding: 10px;
    outline: none;
    border: 5px solid #092032;
    font-weight: 600;
}

#listaArticulos {
    font-size: 20px;
    margin-top: 20px;
    list-style: none;
    font-weight: 600;
    color: var(--color-azul);
    text-align: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@media(max-width:500px ){
    #listaArticulos {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.fa-folder {
    margin-right: 5px;
}

.articulo {
    display: block;
    border:2px solid var(--color-azul);
    padding: 10px;
    margin-top: 5px;
}


.li-buscar {
    list-style: none;
}


.filtro {
    display: none;
}

/* STAFF */

.team {
    margin: 75px 0;
}

.team h1 {
    text-align: center;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}

.team h1::after {
    content: '';
    background-color: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}

.team .profile {
    margin-top: 25px;

}

.team .profile .img-box {
        opacity: 1;
        display: block;
        position: relative;
}

.team .profile h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.team .img-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
/* .team .profile a {
    background-color: aqua;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(73, 7, 153);
}
 */
